body{
    background-color: var(--white-color);
    font-family: "Roboto", sans-serif;
    color: var(--slate-color);
}


:root{
   --white-color: #FFFFFF;
   --navyblue-color: #2E2F42;
   --slate-color: #434455;
   --cornflower-color: #E7E9FC;
   --blue-color: #4D5AE5;
}

img{
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
    margin-top: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

/**-------Header---------***/


.container {
    max-width: 100%;
    width: 1158px; 
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /*outline: 2px solid red;
    /*display: flex;*/
  }

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.head-conteiner{
    border-bottom: 1px solid var(--cornflower-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    margin-left: 0;

}

.header-nav-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
}
.menu a:hover{
    color: #404BBF;
}

.menu a:focus{
     color: #404bbf;
}


.menu a:active{
    color: #404BBF;
}

.connect{
    display: flex;
    gap: 40px;
}

.contacts{
    
}

.address{
    display: flex;
    list-style: none;
    font-style: normal;
}

.address a:hover{
    color: #404bbf;
}

.address a:focus{
    color: #404bbf;
}


.log{
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--iris, #4D5AE5);
  margin-right: 76px;
  margin-left: 0;
  margin-bottom: 0;
}

/**-------Main-effec---------***/

.effec{
    background-color: var(--navyblue-color);
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 188px;
    padding-bottom: 188px;
}

.first-title{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.sol{   
    font-size: 56px;
    font-family: "Roboto", sans-serif;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-color);
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
}

.order{
    display: block;
    background-color: var(--blue-color);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    margin-top: 48px;
}

.effec button:hover{
    background: var(--ocean, #404BBF);
}

.effec button:focus{
    background: var(--ocean, #404BBF);
}

.feature{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-conteiner .benefits{
    margin-top: 0;
}

.benefits-punkts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc((100% - 72px) / 3);
    max-width: 264px;
}

.benefits{
    display: flex;
    gap: 24px;
    padding-left: 0;
}

.benefits-conteiner{
    align-items: center;
}

.benefits-title{
    margin-top: 0;
}

.parag{
    color: var(--slate-color);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
}




/**-------Monitor---------***/


.monitor{
    background: #FFF;
    padding-bottom: 120px;
}

.title-monitor{
    margin-bottom: 72px;
}

.conteiner-monitor{
    flex-direction: column;
    display: flex;
}

.list-monitor{
    width: calc((100% - 48px) / 3);
}

.conteiner-divace{
    display: flex;
    align-items: flex-start;
    gap: 24px;
    padding-left: 0;
}

.conteiner-team{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.namb{
    font-size: 36px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    text-align: center;
    text-transform: capitalize;
    /*margin-bottom: 72px;*/
}

/**-------Team---------***/

.star{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    margin-bottom: 8px;
    /*margin-top: 32px;*/
    text-align: center; 
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
   display: flex;
   align-items: center;
   margin: 0 auto;
   margin-bottom: 72px;
}

.team-list{
    display: flex;
    align-self: flex-start;
    gap: 24px;
    padding-left: 0;
}

.conteiner-team{
    
}

.team-cards{
    background-color #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px; 
}

.conteiner-star{
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    padding: 32px 16px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.text-team{
    color: var(--slate-color);
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

ul{
    list-style-type: none;
}

.contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: var(--slate-color);
}

.title-text{
    color:var(--navyblue-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background: var(--white-color);
    margin-bottom: 8px;
}

/**-------Footer---------***/

.conteiner-footer{
    flex-shrink: 0;
    flex-direction: column;
}

.footer-paragraf{
    display: flex;
    max-width: 264px;
    flex-direction: column;
}

.footer .log{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--ocean,#4d5ae5);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer{
    background: var(--navyblue-color);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding: 100px 0;
}

.footer .stud{
    color: var(--cloud, #F4F4FD);
    text-transform: uppercase;
    text-decoration: none;
}

.footer-text{
    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud, #F4F4FD);
    max-width: 264px;
}

.stud{
    color: var(--navyblue-color);
}

/**Hero-Potfolio--**/

 ul>li button{
    background-color: var(--cornflower-color);
    color: #4D5AE5;
    border: 1px solid #E7E9FC;
    font-weight: 700;
    list-style: none;
}

.portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}

.but{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--ocean,#4d5ae5);
    background-color: var(--cloud, #F4F4FD);
    cursor: pointer;
    list-style: none;
    padding: 12px 24px;
    border-radius: 4px;
}

.list li button:active{
    background: #F4F4FD;
    color: #2E2F42;
    text-decoration: none;
}

.list li button:hover{
    background: #404BBF;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.list li button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.par{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--slate-color);
}

/*.hero-buttons{
    display: flex;
    flex-direction: column;
}*/

.hero-title{
    text-align: center;
}

.hero-list{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-cards{
    display: flex;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin-top: 0;
    padding-left: 0;  
}

.portfolio-foto{
    width: calc((100% - 48px)/3);
}

.portfolio-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}